h1{
	text-align: center;
}
h3{
	text-align: center;
}
.tabletitle{
	text-align: center;
}
#info {
	visibility:hidden;
}


#word{
	display:block;
	margin: auto;
    width: 40%;
    border: 2px solid green;
}
#word div{
	 display: inline;
	 font-size: 50px;
}

.letter{
	font-size: 50px;
	margin-left:2px;
	margin-right:2px;
}

#somediv{
	visibility:hidden;
}

#leftpane {
	width: 25%;
	float: left;
}

#rightpane {
	width: 25%;
	float: left;
}

#mainimg {
    display: block;
    width:48%;
    margin-left: auto;
	margin-right: auto;
	float: left;
}


#imagediv:after {
    content: "";
    display: table;
    clear: both;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

table {
    border-spacing: 2px;
}

.historypane {
	float: left;
	width: 50%;
}